
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h2>Online Voting Powered by Blockchain</h2>
        <form action="#" method="POST">
            <h3>Enter the Voter ID</h3>
            <p>Voter ID must start with VOID followed by three digits.</p>
            <input type="text" name="voterID" required>
            <div class="button-row">
                <button type="submit" value="new_vote" name="submit">New Vote</button>
                <button type="submit" value="see_chain" name="submit">See Chain</button>
            </div>
        </form>
    </div>
</body>
</html>